* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.image-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.image-container img {
  width: 100vw;
  height: auto;
}
